<h1>Hello Welcome!!!</h1>
<!-- <app-login></app-login> -->
<!-- <h2>{{title}}</h2>
<h3>{{add()}}</h3>
<h4>{{12*42}}</h4>
<h5>{{city}}</h5>
<img src={{imagePath}}  alt="Image Not found"/>
<h2>{{d}}</h2>
<h3>{{t}}</h3> -->
<!-- Name<input type="text"/>
<button [disabled]=isdisabled onclick="(()=>{console.log('submited')})">Buttton</button>
<h1 [class]="isactive?'active':'isactive'">This is heading </h1> -->
<h1 style="color: red;">This is style binding heading tag</h1>
<h2 [style]="{color:colorVariable}">This is style binding heading tag</h2>
<h3 [style]="myStyle">This is style binding by using  creating a style object</h3>

<h1>This is Event-Binding topic</h1>
<button (click)="increment()" >Increment Submit </button>
<h1>Increment Counter: {{incrementCounter}}</h1>
<button (click)="decrement()" >Decrement Submit </button>
<h1>Decrement Counter:{{decrementCounter}}</h1>

Name:<input type="text" (input)="changeName($event)"/>
<h1>Your name:{{name}}</h1>

<!-- City:<input type="text" [(ngModel)] ="city" /> -->
<router-outlet />
